.nav{
    background-color: #356D8F;
   
 

}
a{
    color: #CDEAF4;


}
body{
    white-space: pre;
    background-color: #193C50;
}
h1{
    color: #60B4E3;


}
.sez{
    margin-top: 1%;
    font-size: 3vh;


}
.nalogeoducencu{
    background-color: #356D8F;
    font-family: 'Courier New', Courier, monospace;

}

.navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }



