doctype html
html
    head
        style(type="text/css" media="screen").
            #editor { 
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 500px;
                height: 500px;
            }
            #poslji{
                margin-top: 510px;

            }
    body
        div(id="editor")
        br
        button(id='poslji') poslji
        br
        div(id='resitev') resitev
                    
    script(src='src-noconflict/ace.js' type="text/javascript" charset="utf-8")
    script(src='javascript/jquery-3.3.1.min.js')
    script(src='/javascript/koda.js')
    script.
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/python");