


    <!doctype html>
    <html lang="en" ng-app="app">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/CSS/bootstrap.css">
    
        <script src="javascript/angular.min.js"></script>
        <script>
            var app = angular.module("app", []);
            app.controller("demoController", function($scope, $http){
                $http.get("/getNaloge").then(function(data) {
                    console.log('dela');
                    $scope.naloge = data.data;
                });
            });
            
        </script>
        <link rel="stylesheet" type="text/css" href="/CSS/meni.css">

        <title>Naloge</title>
      </head>

      <style>
                
               
        .sredina{
        text-align: center;
        
        display: flex;
        justify-content: center;
    
    
    
    }
    
 .stran{
     margin-top: 1%;

 }
    
    
    
 
    th{
        text-align: center;


    }
    .tabela{
        text-align: center;
        align-self: center;
        border-color: #60B4E3;
        background-color: #356D8F;
        color: black;
         
    }
  .meni{

      padding: none;
      margin: none;
      
  }
    
    </style>

      <body ng-controller="demoController">
        <nav class="navbar navbar-expand-lg nav">
            <a class="navbar-brand">Znam_py</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:history.back()">Nazaj</a>
                    </li>
                    
                </ul>
            </div>

            <li class="nav-item">
                    <a class="nav-link" href="/">Odjava</a>
                </li>

        </nav>
        
        
        <div class="container-fluid">
          



                    <div class="row stran">
                        <div class="col-xl-4"></div>
                    <div class="col-xl-4 sredina">
                        

                        <table class="table tabela" border="1">
                            <tr><th colspan="4">Vse Naloge</th></tr>
                                <tr>
                                    <th>id
                                        <br>
                                        <input type="text" ng-model="search.idnaloge">
                                    </th>
                                    <th>navodila
                                        <br>
                                        <input type="text" ng-model="search.navodila">
                                    </th>
                                    <th>pike
                                        <br>
                                        
                                    </th>
                                    <th>vrstaNaloge
                                        <br>
                                        <select ng-model="search.tipNaloge">
                                            <option value="">vse</option>
                                            <option value="nizi">nizi</option>
                                            <option value="stevila">stevila</option>
                                            <option value="seznami">seznami</option>
                                            <option value="objekti">objekti</option>
                                          
                                        </select>
                                    </th>
                                </tr>
                                <tr ng-repeat="nal in naloge | filter:search">
                                    <td>{{nal.idnaloge}}</td>
                                    <td>{{nal.navodila}}</td>
                                    <td>{{nal.pike}}</td>
                                    <td>{{nal.tipNaloge}}</td>
                                </tr>
                            </table>
                        
            </div>
                        </div>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/javascript/jquery-3.3.1.min.js"></script>
        <script src="/javascript/popper.min.js"></script>
        <script src="/javascript/bootstrap.min.js"></script>
    </body>
</html>